# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Backend
backend/.env
backend/vendor/
backend/composer.lock

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp
*.swp

# Archivos de entorno
.env
.env.production
.env.development